<template>
  <div class="form">
    <h1 class="mode-label">{{cipher || "Choose the cipher"}}</h1>
    <b-form-group
      id="fieldset-1"
      label="Enter the open text"
      label-for="input-1"
      class="b-form-group"
    >
      <b-form-input style="font-size:1.7rem;" id="input-1" v-model="ot" trim></b-form-input>
    </b-form-group>

    <b-form-group
      class="b-form-group"
      id="fieldset-2"
      label="Enter your key"
      label-for="input-2"
      :invalid-feedback="invalidFeedback"
      :valid-feedback="validFeedback"
      :state="state"
    >
      <b-form-input style="font-size:1.7rem;" id="input-2" v-model="key" :state="state" trim></b-form-input>
    </b-form-group>
    <b-form-group class="b-form-group" label="Choose mode">
      <b-form-radio-group
        style="width:100%"
        id="btn-radios-2"
        v-model="selected"
        :options="options"
        buttons
        button-variant="outline-primary"
        size="lg"
        name="radio-btn-outline"
      ></b-form-radio-group>
    </b-form-group>
    <b-button
      class="submit-button"
      @click="submit()"
      variant="success"
      style="font-size:1.7rem"
    >{{selected}}</b-button>

    <b-form-group id="fieldset-3" label="Cipher text" label-for="input-3" class="b-form-group">
      <b-form-textarea v-model="result" disabled style="font-size:1.7rem;"></b-form-textarea>
    </b-form-group>
    <b-button
      class="copy-button"
      @click="toast('b-toaster-top-center')"
      variant="warning"
      v-clipboard="() => this.result"
      title="The result copied to the clipboard"
      style="font-size:1.7rem"
    >Copy to clipboard</b-button>
  </div>
</template>

<script>
export default {
  computed: {
    state() {
      return this.key.length == 16 ? true : false;
    },
    invalidFeedback() {
      if (this.key.length == 16) {
        return "";
      } else if (this.key.length > 0) {
        return "Enter 16 characters";
      } else {
        return "Please fill in the input";
      }
    },
    validFeedback() {
      return this.state === true ? "Your key is OK!" : "";
    }
  },
  data() {
    return {
      ot: "",
      key: "",
      err: false,
      selected: "Encrypt",
      options: [
        { text: "Encryption", value: "Encrypt" },
        { text: "Decryption", value: "Decrypt" }
      ]
    };
  },
  props: ["cipher", "result"],
  methods: {
    submit() {
      this.$emit("clicked", [this.cipher, this.ot, this.key, this.selected]);
    },
    toast(toaster, append = false) {
      this.counter++;
      this.$bvToast.toast(
        this.result
          ? `The result of ${this.cipher} copied to the clipboard`
          : "There is no text to copy",
        {
          title: `INFO!`,
          toaster: toaster,
          solid: false,
          appendToast: append,
          variant: "info"
        }
      );
    }
  }
};
</script>

<style>
.mode-label {
  text-align: center;
  color: red;
  font-size: 50px;
}
.submit-button {
}

.copy-button {
  width: 50%;
}

.b-form-group {
  font-size: 2.2rem;
}
.form {
  width: 35%;
  align-self: flex-start;
  position: absolute;
  color: aqua;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  z-index: 10;
}
@media only screen and (max-width: 800px) {
  .mode-label {
    text-align: center;
    color: red;
    font-size: 30px;
  }
  .form {
    width: 100%;
    align-self: flex-start;
    position: absolute;
    color: aqua;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    z-index: 10;
  }
  .b-form-group {
    font-size: 2rem;
  }
}
</style>
