<template>
  <div class="app">
    <b-modal class="modalerr" id="bv-modal-example" hide-footer>
      <template class="modaltitle" slot="modal-title">
        <h3 style="color:red">Errors have occured</h3>
      </template>
      <div v-bind:key="err" v-for="err in this.errors" class="d-block text-center">
        <h5>{{err}}</h5>
      </div>
      <b-button
        variant="danger"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-example')"
      >Close Me</b-button>
    </b-modal>
    <div
      class="blow-fish"
      @mouseover="active = true"
      @mouseleave="active = false"
      @click="pickCipher('BlowFish')"
      :class="{ active: active }"
    ></div>
    <Form :cipher="this.cipher" :result="this.result" @clicked="submit"/>
    <div
      class="two-fish"
      @mouseover="active2 = true"
      @mouseleave="active2 = false"
      @click="pickCipher('TwoFish')"
      :class="{ active: active2}"
    ></div>
  </div>
</template>

<script>
import Form from "./components/Form";
import Errors from "./errors";
export default {
  components: {
    Form
  },
  methods: {
    decreaseOpacity() {
      console.log(this);
    },
    pickCipher(c) {
      this.cipher = c;
    },

    submit(params) {
      console.log(Errors["lenErr"]);
      let err = [];
      const alphabet = "qwertzuioplkjhgfdsayxcvbnm7896541230";
      const errChar = params[1].split("").some(c => !alphabet.includes(c));
      if (params[2].length !== 16) {
        err.push("lenErr");
      }
      if (errChar) {
        err.push("charErr");
      }
      if (!this.cipher) {
        err.push("modeErr");
      }
      if (!params[1] || !params[2]) {
        err.push("emptyErr");
      }
      if (err.length === 0) {
        fetch("http://www.localhost:3000/cipher", {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            cipher: this.cipher,
            ot: params[1],
            key: params[2],
            selected: params[3]
          })
        })
          .then(res => res.json())
          .then(data => {
            console.log(data[0]);
            this.result = data[0];
          });
      } else {
        err = err.map(e => Errors[e]);
        console.log(err);
        this.errors = [...err];
        this.$bvModal.show("bv-modal-example");
      }
    }
  },
  data() {
    return {
      active: false,
      active2: false,
      cipher: "",
      result: "",
      errors: []
    };
  }
};
</script>

<style>
.modal-title {
  width: 100%;
  text-align: center;
}
.modalerr {
  z-index: 9214089792874978124972187498;
}
body {
  padding: 0px;
  margin: 0px;
  font-size: 1.7rem;
}
.active {
  opacity: 0.7;
}
.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.blow-fish {
  flex: 1;
  background: url(./assets/blow.png) no-repeat;
  background-size: 100% 100%;
}

.two-fish {
  flex: 1;
  background: url(./assets/two2.png) no-repeat;
  background-size: 100% 100%;
}
@media only screen and (max-width: 800px) {
  .app {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
</style>
